DATABASE_URL="postgresql://kanban:kanban@localhost:5433/kanban?schema=public"

VITE_CLERK_PUBLISHABLE_KEY=pk_test_bG9naWNhbC1wb255LTU5LmNsZXJrLmFjY291bnRzLmRldiQ
VITE_CLERK_SECRET_KEY=sk_test_uqgY1cUYCgeknrh15ooQQajvtV8AEH4stte8mi0ZG4